---
---

/* check to see if you named all colors:
$ grep -Po '(#[0-9A-Fa-f]{6}|rgba?\([^)]+\)) ?(/[*].*[*]/)?' css/main.css | grep -vE '^(#(0{6}|[Ff]{6}))|(rgba?\((0,\s*){3}|(255,\s*){3})' | sort | uniq -c | sort -k2
*/

/**
Breakpoints:
420px (mobile)
740px (tablet)
960px (desktop)
*/

$color-focus: rgba(0,143,205,1);
$color-focus-background: rgba(0,39,131,0.1);
$color-focus-footer: rgba(255,255,255,1);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-offset: 8px;
    outline: 2px solid transparent;

    &:focus {
        outline: 2px solid $color-focus;
        outline-offset: 4px;
        transition: 100ms ease-out;
    }
}

.browser-ie-11 * {
    outline-offset: 0;
    outline: 0;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1100px;
    position: relative;
    margin: auto;
}

abbr {
    cursor: help;
    border-bottom: 1px dotted;
    text-decoration: none;
}

.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

button {
  cursor: pointer;
}

/* Skip links */

.skiplinks {
    position: relative;
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 16px;
    z-index: 2;

    a {
        font-size: 1.26562rem;
        line-height: 1.58025;
        width: auto;
        min-height: 44px;
        padding: 0.75rem 1rem;
        cursor: pointer;
        border: none;
        border-radius: 0;
        color: #FFF;
        position: absolute;
        top: -100vh;
        left: -100vw;
        text-decoration: none;

        &:focus {
            top: 15px;
            left: 15px;
        }
    }
}
  
.header {
    display: flex;
}
